@page "/fetchdata"
@using Blazor.UI.Demo.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<DataGrid Items="@forecasts" Model="@WeatherForecast" Hover="true" Striped="true" IsSmall="true" Border="true">
    <Columns>
        <Column Name="Date" Label="Date"/>
        <Column Name="TemperatureC" Label="Temp. (C)" />
        <Column Name="TemperatureF" Label="Temp. (F)" />
        <Column Name="Summary" Label="Summary" />
    </Columns>
</DataGrid>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
